/*.label {
    -fx-padding: 0px;
}*/

.root {
    -fx-font-family: "Rockwell";
    /* define variables to avoid duplicating values */
    text_color: #FFFFFF;
    alt_color: #808080;
    -fx-background-color: #000000;
}

#propertyVBox {
    -fx-background-color: White;
    -fx-border-color: #000000;
    -fx-border-width: 3px;
    -fx-padding: 10px;
}

#propdisptilename {
    -fx-font-size: 80%;
    -fx-padding: 2px;
    -fx-text-alignment: center;
}

.choice-box {
    -fx-border-style: solid;
    -fx-padding: 5px;
    -fx-spacing: 2px;
}

.radio-button {
    -fx-text-fill: text_color;
    -fx-color: darkgray;
}

.button-box {
    -fx-alignment: center;
    -fx-spacing: 8px;
    -fx-color: darkgray;

}

.button {
    -fx-text-fill: text_color;
    -fx-color: darkgray;
    -fx-padding: 10px;
    -fx-border-color: lightgrey;
}

.text-area {
    -fx-border-color: lightgrey;
    -fx-background-color: darkgray;
}
.label {
    -fx-font-size: 15;
    -fx-text-fill: alt_color;
    -fx-alignment: center;
    -fx-min-width: 10px;
    -fx-padding: 10px;
}

.text-field {
    -fx-text-fill: text_color;
    -fx-background-color: darkgray;
    -fx-min-width: 200px;
}


