/*.label {
    -fx-padding: 0px;
}*/

.root {
    -fx-font-family: "Rockwell";
    /* define variables to avoid duplicating values */
    text_color: #F8CE87;
    -fx-background-color: #A23434;
}

#propertyVBox {
    -fx-background-color: #A23434;
    -fx-border-color: #000000;
    -fx-border-width: 3px;
    -fx-padding: 10px;
}

#ProfileVBox {
    -fx-border-color: #000000;
    -fx-border-width: 3px;
    -fx-padding: 10px;
}

#propdisptilename {
    -fx-font-size: 80%;
    -fx-padding: 2px;
    -fx-text-alignment: center;
}

.choice-box {
    -fx-border-style: solid;
    -fx-padding: 5px;
    -fx-spacing: 2px;
}

.radio-button {
    -fx-text-fill: text_color;
}

.button-box {
    -fx-alignment: center;
    -fx-spacing: 8px;
}

.button {
    -fx-text-fill: text_color;
    -fx-background-color: floralwhite;
    -fx-padding: 10px;
    -fx-border-color: lightgrey;
}

#variationButton{
    -fx-padding: 0px;
}

.text-area {
    -fx-border-color: lightgrey;
}
.label {
    -fx-font-size: 15;
    -fx-text-fill: text_color;
    -fx-alignment: center;
    -fx-min-width: 10px;
    -fx-padding: 10px;
}

.text-field {
    -fx-text-fill: text_color;
    -fx-background-color: floralwhite;
    -fx-min-width: 200px;
}