/*.label {
    -fx-padding: 0px;
}*/

.root {
  -fx-font-family: "Rockwell";
  /* define variables to avoid duplicating values */
  text_color: #f3a53a;
  -fx-background-color: #A23434;
}

#propertyVBox {
  -fx-background-color: #4d7d9b;
  -fx-border-color: #000000;
  -fx-border-width: 3px;
  -fx-padding: 10px;
}

#ProfileVBox {
  -fx-border-color: #000000;
  -fx-background-color: #4d7d9b;
  -fx-border-width: 3px;
  -fx-padding: 10px;
  -fx-border-radius: 2px;
  -fx-border-width: 4px;
  -fx-border-radius: 3px;
  -fx-background-radius: 3px;
  -fx-background-insets: 3px;

}

#propdisptilename {
  -fx-font-size: 80%;
  -fx-padding: 2px;
  -fx-text-alignment: center;
}

.choice-box {
  -fx-border-style: solid;
  -fx-padding: 5px;
  -fx-spacing: 2px;
}

.radio-button {
  -fx-text-fill: text_color;
}

.button-box {
  -fx-alignment: center;
  -fx-spacing: 8px;
}

.button {
  -fx-text-fill: text_color;
  -fx-background-color: floralwhite;
  -fx-padding: 10px;
  -fx-border-color: lightgrey;
}

#variationButton {
  -fx-padding: 0px;
}

#variationButton:hover {
  -fx-padding: 0px;
  -fx-background-color: white;
  -fx-border-width: 3px;
  -fx-border-radius: 3px;
  -fx-background-radius: 3px;
  -fx-background-insets: 3px;
  -fx-border-color: black;
}

.button:pressed {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 20, 0.0, 0, 1);
}

.text-area {
  -fx-border-color: lightgrey;
}

.label {
  -fx-font-size: 15;
  -fx-text-fill: text_color;
  -fx-alignment: center;
  -fx-min-width: 10px;
  -fx-padding: 10px;
}

.text-field {
  -fx-text-fill: darkgray;
  -fx-background-color: floralwhite;
  -fx-min-width: 200px;
}

#variationButtonBox {
  -fx-spacing: 10px;
}

#propertyCreatorBox {
  -fx-spacing: 10px;
}

#creatorTile {
  -fx-border-width: 3px;
  -fx-background-color: white;
  -fx-border-color: black;
  -fx-background-radius: 2px;
  -fx-border-radius: 2px;
}

#tileText {
  -fx-font-size: 10px !important;
}

#SetGame {
  -fx-border-radius: 10px;
}

#EditorInstructions {
  -fx-fill: tan;
  -fx-background-color: tan;
  -fx-background-radius: 20px;
  -fx-border-radius: 20px;
  -fx-border-color: black;
}

#RightElements {
  -fx-padding: 20px;
}

#ChooseDice, #ChoosePlayStyle, #ChooseBoard {
  -fx-max-width: 100;
}

#EnterGameName {
  -fx-max-width: 400;
}

#VariationLoader {
  -fx-background-color: #A23434;
  -fx-border-color: #A23434;
}

#tileBox {
  -fx-background-color: white;
  -fx-border-color: black;
  -fx-alignment: top-center;
}


#Start,#Options,#Signup,#Login,#Update{
  -fx-min-width: 200;
  -fx-min-height: 100;
  -fx-font-size:30;
  -fx-border-color: black;
  -fx-border-width: 4px;
  -fx-border-radius: 3px;
  -fx-background-radius: 3px;
  -fx-background-insets: 3px;

}

#Start{
  -fx-background-color: #daf8b4;
}

#Options{
  -fx-background-color: #fad4ea;
}

#Signup{
  -fx-background-color: #b4fff6;
}

#Login{
  -fx-background-color: #ffcdb0;
}

#Update{
  -fx-background-color: #dfe6ff;
}

#Start:hover, #Options:hover, #Signup:hover, #Login:hover, #Update:hover{
  -fx-background-color: yellow;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 20, 0.0, 0, 1);
  -fx-font-size: 35;
}

#Continue,#GotoHome, #CreateYourOwn{
  -fx-border-color: black;
  -fx-border-width: 2px;
  -fx-border-radius: 2px;
  -fx-background-radius: 2px;
  -fx-background-insets: 2px;
}

#Continue:hover,#GotoHome:hover, #CreateYourOwn:hover{
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0.0, 0, 1);
}

#CreateYourOwn{
  -fx-min-width: 100;
  -fx-min-height: 50;
  -fx-font-size:15;
}


.button:hover{
  -fx-background-color: yellow;
}

#Start:pressed, #Options:pressed, #Signup:pressed, #Login:pressed, #Update:pressed{
  -fx-background-color: red;
}

#variationButton{

}






